<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='node_modules/font-awesome/css/font-awesome.css'>
    <style>
        .completed {
            text-decoration: line-through;
        }
    </style>
</head>

<body ng-app="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-success" ng-controller="ToDoController as vm">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-bind="::vm.title"></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="todo in vm.todos track by $index">
                                <label ng-hide="todo.$edit">
                    <input type="checkbox" ng-model="todo.isComplete"> 
                    <span ng-bind="todo.title" ng-class="{completed: todo.isComplete}"></span>
                  </label>
                                <input type="text" class="form-control" ng-model="todo.title" ng-show="todo.$edit" ng-blur="vm.save($event,todo)">
                                <button class="btn btn-danger pull-right" ng-click="vm.remove($event, todo.id)" ng-hide="todo.$edit">X</button>
                                <button class="btn btn-info pull-right" ng-click="todo.$edit = true" ng-hide="todo.$edit">Edit</button>
                            </li>
                            <li class="list-group-item" ng-if="vm.isShow">
                                <a href="#" ng-click="vm.fixMe($event)">Click me</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <input type="text" ng-class="{'form-control': vm.isShow}" ng-model="vm.title" ng-blur="vm.onBlur($event)" placeholder="Add todo">
                        <button class="btn btn-success" ng-click="vm.addToDo($event)">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="node_modules/angular/angular.js"></script>
    <script src="index.js"></script>
    <!--<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
</body>

</html>